.footer {
    height: 10%;
    background-color: rgba(66, 66, 66, 0.4);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer>span {
    color: #ffbd59;
    font-size: 1.1rem;
    font-weight: 300;
}

.red {
    color: #d32f2f;
}