<app-sidenav-admin></app-sidenav-admin>

<div fxLayout="row" fxLayoutAlign="start center" class="controles">

    <button mat-raised-button class="mat-elevation-z9" (click)="criarPacotes()" color="primary">
        novo
    </button>
    <mat-form-field appearance="standard" class="pesquisa">
        <mat-label>Pesquisar pacote</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="algum dado  do pacote" #input>
    </mat-form-field>

    <button mat-raised-button class="mat-elevation-z9" (click)="voltar()" color="accent">
            voltar
        </button>
    <button mat-raised-button class="mat-elevation-z9" (click)="proximo()" color="accent">
            próximo
        </button>
</div>
<div *ngIf="pacotes.length != 0 ">
    <table mat-table [dataSource]="listaPacotes" class="mat-elevation-z1 table">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Pedido</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef>Descrição</th>
            <td mat-cell *matCellDef="let element"> {{element.content}} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef>Postagem</th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date:"dd/MM/yyyy"}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element">
                <a routerLink="pacotes-update/{{element.id}}" mat-stroked-button color="accent">Editar
            </a> |
                <a routerLink="pacotes-delete/{{element.id}}" mat-stroked-button color="warn">Excluir
            </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div *ngIf="pacotes.length === 0 " style="margin: 0.5% 0 0.5% 16% ;">
    Não há pacotes ainda ;(
</div>

<app-footer></app-footer>