<mat-drawer-container>
    <mat-sidenav class="sidenav mat-elevation-z10" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/pacotes-empresa"><i class="material-icons">local_shipping</i> Pacotes</a>
            <a mat-list-item><i class="material-icons">person</i> Usuários</a>
            <a mat-list-item (click)="sair()"><i class="material-icons">logout</i> Sair</a>
        </mat-nav-list>
    </mat-sidenav>
</mat-drawer-container>