<div fxLayout="column" fxLayoutAlign="space-evenly center">
    <mat-card class="example-card">
        <mat-card-header class="card-color-header" fxLayout="column" fxLayoutAlign="space-evenly center">
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <img mat-card-image class="img" src="https://raw.githubusercontent.com/Adyson-Lima-Programador/rodovtransport_web/main/src/app/imagens/rodovtransport_banner.png">
        </div>
        <mat-card-content>
            <form [formGroup]="formulario" (ngSubmit)="login()" class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput id="email" placeholder="seu_email@email.com" type="email" formControlName="email">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput id="password" type="password" formControlName="password">
                </mat-form-field>
                <div fxLayout="column" fxLayoutAlign="center stretch">
                    <button mat-raised-button color="primary">Login</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>