/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.notif-success {
    color: #222222;
    background-color: rgba(118, 255, 3, 0.5);
}

.notif-error {
    color: #222222;
    background-color: rgba(211, 47, 47, 0.9);
}