/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.notif-success {
    color: #76FF03;
    background-color: #424242;
    border-style: solid;
    border-color: #76FF03;
}

.notif-error {
    color: #D32F2F;
    background-color: #424242;
    border-style: solid;
    border-color: #D32F2F;
}