@import '~@angular/material/theming';
@include mat-core();
// GAMA COLORES
$my-primary-color: ( 50: #fff7eb, 100: #ffebcd, 200: #ffdeac, 300: #ffd18b, 400: #ffc772, 500: #ffbd59, 600: #ffb751, 700: #ffae48, 800: #ffa63e, 900: #ff982e, A100: #ffffff, A200: #ffffff, A400: #ffecda, A700: #ffdfc0, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$my-accent-color: ( 50: #fffdf1, 100: #fffadc, 200: #fff7c4, 300: #fff4ac, 400: #fff19b, 500: #ffef89, 600: #ffed81, 700: #ffeb76, 800: #ffe86c, 900: #ffe459, A100: #ffffff, A200: #ffffff, A400: #fffffd, A700: #fffae4, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$my-warn-color: ( 50: #f8e4e0, 100: #edbbb3, 200: #e28e80, 300: #d6604d, 400: #cd3e26, 500: #c41c00, 600: #be1900, 700: #b61400, 800: #af1100, 900: #a20900, A100: #ffcdcc, A200: #ff9b99, A400: #ff6966, A700: #ff504d, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
// PALETA DE COLORES
$my-palette-primary: mat-palette($my-primary-color);
$my-palette-accent: mat-palette($my-accent-color);
$my-palette-warn: mat-palette($my-warn-color);
// TEMA PROPIO
$my-theme: mat-dark-theme(( color: ( primary: $my-palette-primary, accent: $my-palette-accent, warn: $my-palette-warn)));
// APLICAR NUESTRO TEMA A ANGULAR
@include angular-material-theme($my-theme);
// REEMPLAZA EN ANGULAR.JSON -> STYLES
// "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
// POR LA RUTA DEL CUSTOM THEME
// "src/assets/styles/my-theme.scss",